<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log In to Reddit</title>
  </head>
  <body>
    <div class="container">
      <form action="http://localhost:3000/login" method="post">
        <label for="username">Username</label><br>
        <input type="text" name="username" placeholder=""><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" placeholder=""><br>
        <p></p><br>
        <button type="submit" name="submit">Submit</button>
      </form>
    </div>
    <script src="../controls/login.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>