.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* justify-content: space-around; */
}

.item {
  align-self: flex-start;
  min-height: 100px;
  width: 100%;
}

.green {
  background-color: rgb(70, 208, 3);
  order: 0;
}

.yellow {
  background-color: rgb(254, 208, 33);
  order: 2;
}

.purple {
  background-color: rgb(157, 0, 255);
  order: 1;
}
