body {
  background-color: #333;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-auto-rows: minmax(200px, auto);
}

.small {
  background-color: #a145f6;
}

.big {
  background-color: #77cf3e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yellow {
  background-color: #f9d651;
  height: 60%;
  width: 60%;
}

#one {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#two {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#three {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#six {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}