.container {
  display: flex;
  justify-content: center;
  width: 500px;
}

.table {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  margin: 2%;
  overflow: auto;
  width: 80px;
}

.border {
  border: 1px solid black;
}

.button {
  width: 80px;
}

.selected {
  background-color: lightgrey;
}
