.nav {
  background-color: rgb(157, 0, 255);
  height: 100px;
  margin: 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.link-list {
  align-items: center;
  display: flex;
  height: 100px;
  list-style: none;
  margin: auto;
  padding: 0;
  width: 1400px;
}

.link {
  background-color: rgb(45, 2311, 255);
  height: 50px;
  margin: 0 20px;
  width: 150px;
}
.link:nth-child(1){
  margin-left: 40px;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
  top: 110px;
  width: 1400px;
  z-index: -1;
}

.main {
  background-color: rgb(254, 208, 33);
  flex-grow: 2;
  height: 600px
}

.side {
  background-color: rgb(70, 208, 3);
  flex-grow: 1;
  height: 600px;
  margin-right: 10px;
}

.footer {
  background-color: rgb(193, 193, 193);
  height: 100px;
  margin: 10px 0 10px;
  min-width: 100%;
}
