.nav {
  background-color: rgb(157, 0, 255);
  height: 100px;
}

.disp {
  margin: auto;
  width: 1400px;
}

.link-list {
  align-items: center;
  display: flex;
  height: 100px;
  list-style: none;
  padding: 0;
}

.link {
  background-color: rgb(45, 2311, 255);
  height: 50px;
  margin: 0 20px;
  width: 150px;
}
.link:nth-child(1){
  margin-left: 40px;
}

.container {
  display: flex;
  height: 650px;
}

.main {
  background-color: rgb(254, 208, 33);
  flex-grow: 2;
}

.side {
  background-color: rgb(70, 208, 3);
  flex-grow: 1;
}
